$body-font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$header-font-family: 'Open Sans Condensed', sans-serif !default;
$secondary-color: #e7e7e7 !default;

html, body {
    min-height:100%;
    height: auto !important;
}

#mainNavidation {
}

#moduleWrapper {
    display:flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}

#moduleNavigation {
    width:280px;
    box-shadow: 2px 0px 1px rgba(100, 100, 100, 0.75);
    padding-left: 2em;
    padding-right: 2em;
}

#moduleBody {
    flex: 1;
    margin-left:2px;
}

#moduleBreadcrumbs {
    background-color: $secondary-color;
    ul.breadcrumbs {
        padding-left: 2em;
        li {
            margin: 0;
            padding: 1em 0em 1em 0em;
            font-size: 1.5rem;
        }
    }
}

#moduleContent {
    .row {
        margin-left: 2rem;
    }
}

.grid-form {
    input {
        border: none;
    }
    label {
        display: inline;
    }
}
