html, body {
    height: 100%;
}
    
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}



/* Page body */

.wrapper {
    flex:1;
    align-items: stretch;
    display: flex;
    flex-direction: row;
}

.wrapper>.content {
   flex: 1;
}


/* Right sidebar */

.wrapper>sidebar {
    width:280px;
}

.wrapper>sidebar>section>h2 {
    padding-bottom: 0.5em;
}

.wrapper>sidebar>section>ul {
    padding-left:0;
}

.wrapper>sidebar>section>ul>li {
    list-style: none;
}

/* Content */
.content {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.content>section {
    flex:1;
    display: flex;
    flex-direction: column;
}

.content>section>.mainContent {
    flex:1;
    min-height: 100%;
}
.content>section>aside {
    width: 260px;
}
