/* Common elements */
html {
    color: #333;
    font-family: 'Droid Sans', sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857;
}

.top-bar {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

/* Right sidebar */
.wrapper>sidebar {
    font-family: DroidSans, Arial, sans-serif;
    box-shadow: 2px 0px 1px rgba(100, 100, 100, 0.75);
}

.wrapper>sidebar>section {
    padding-bottom:0.3rem;
}

.wrapper>sidebar>.brand {
    text-align: center;
}

.wrapper>sidebar>.brand>img {
    padding-top:20px;
    max-width:220px;
}

.wrapper>sidebar>section>ul {
    margin-left: 0;
}

.wrapper>sidebar>section>ul>li {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 3rem;
}

.wrapper>sidebar>section>ul>li>a {
    text-decoration: none;
    color: #333;
    width:100%;
    font-size: 14px;
}

.wrapper>sidebar>section>h2 {
    color: $primary-color;
    font-size: 12px;
    font-weight: bold;
    margin: 0.5rem;
    padding-left: 1.5rem;
    text-transform: uppercase;
}

.wrapper>sidebar>section>ul>li.active, .wrapper>sidebar>section>ul>li:hover {
    background-color: #eee;
}

/* Content */
.content>section>h1 {
    font-family: OpenSans-CondLight-webfont;
    font-weight: normal;
    font-size: 28px;
    background-color: #eee;
    padding: 1.4rem;
    margin: 0 0 0 2px;
    text-transform:uppercase;
}

